
/* CONTACT FORM STYLESHEET */

/* FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto+Mono:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

/* DEFUALT STYLES */
:root {
    --main-font:'Quicksand', sans-serif;
    --secondary-font:'Roboto Mono', monospace;
    --main-color:rgb(198, 224, 220);
    --seconday-color: rgb(255, 255, 255);
    --main-link-color: rgb(255, 255, 255);
    --main-background-color:#333;
    --secondary-background-color: rgba(255, 255, 255, 0.301);
    font-size:16px;
}

html{
    overflow-x: hidden;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
        font-family:var(--main-font);
        font-weight:300;
        margin:0;
        padding:0;
        box-sizing: border-box;
        color:var(--main-color);
        background-color:var(--main-background-color);
}
a {
    text-decoration:none;
    color:var(--main-link-color);
    font-family: var(--secondary-font);
}

/* HEADER/CONTAINER */
.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.1fr 1.3fr 0.0001fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:'search-bar search-bar account'
                        'svg svg svg'
                        'sub-heading sub-heading sub-heading'
                        'social-media social-media social-media';
    padding: 0;
}

/* SOCIAL MEDIA ICONS */
.social-media{
    display:flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding:0 1%;
    grid-area: social-media;
    margin-bottom: 0%;
}
.social-media a {
    grid-area: icons;
    display:inline-block;
        padding:2%;
}

/* SIGN IN & CART ICON */
.account {
    grid-area: account;
    max-width: 100%;
    align-items: center;
    justify-content: flex-end;
    display: flexbox;
    padding:2%;
    margin-top: 0;
    font-size: 12px;
    margin-bottom: 0%;
}
.account a {
    white-space: nowrap;
    padding: 2%;  
}
.social-media img,
.account img {
    width:100%;
    max-width:30px;
}

/* SEARCH BAR AND ICON */
.search-icon { 
    width: 22px;
    height: 22px;
    align-items: center;
    justify-content: center;
    padding-top: 10px;

}
.search-bar {
    grid-area: search-bar;
    position: relative;
    height:2rem;
    display: block;
    padding:.125rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    width: 600px;
}

.search-box {
    width: 565px;

}

/* SVG & SUBHEADING*/
.svg {
    grid-area: svg;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0;
    max-width: 60%;
    margin-bottom: 0;
}
.svg img,
.svg a {
    width:100%;
}
.sub-heading {
    grid-area: sub-heading;
    max-width: 100%;
    text-align:center;
    font-size: 33px;
    font-family: var(--secondary-font);
    color: var(--seconday-color);
    margin-top: 0;
}

/* FORM */
.form {
    display: grid;
    grid-template-areas: 'first-name last-name'
                         'email email'
                         'comments comments'
                         'privacy privacy'
                         'submit reset';
    margin: 5%;
}
fieldset {
    border:0;
}
.first-name {
    grid-area: first-name;
    
}
input[type=text]{
    width: 90%;
    padding: 10px;
    padding:10px;
    border-radius:10px;
}
input[type=email]{
    width: 90%;
    padding: 10px;
    padding:10px;
    border-radius:10px;
}
textarea {
    width: 90%;
    resize: vertical;
    padding:10px;
    border-radius:10px;
    border:0;
}
.last-name {
    grid-area: last-name;
}
.email{
    grid-area: email;
}
.comments{
    grid-area: comments;
}
.privacy{
    grid-area: privacy;
}
button:hover {
    background-color:rgb(116, 143, 139);
}

.reset {
    grid-area: reset;
    padding:10px;
    border:none;
    background-color: var(--main-color);
    color:#fff;
    font-weight:600;
    border-radius:10px;
    width: 70%;
}
.submit {
    grid-area: submit;
    padding:10px;
    border:none;
    background-color: var(--main-color);
    color:#fff;
    font-weight:600;
    border-radius:10px;
    width:70%;
}

/* FOOTER */
.footer {
    padding-right: 2%;
}
.page-footer {
    padding-left: 2%;
}
.navigation-bar {
    text-align: center;
    grid-area: navigation-bar;
    margin-top: 4%;
    margin-bottom: 8%;
}
.navigation-bar a {
    margin: 3%;
    padding: 7px;
}
.navigation-bar:hover {
    transform:rotate(2deg);
    transition:all .75s ease;
}

.copy {
    grid-area: copy;
    text-align: center;
}