
/* SPLASH PAGE STYLESHEET */

/* FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto+Mono:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

/* DEFUALT STYLES */
:root {
    --main-font:'Quicksand', sans-serif;
    --secondary-font:'Roboto Mono', monospace;
    --main-color:rgb(198, 224, 220);
    --seconday-color: rgb(255, 255, 255);
    --main-link-color: rgb(255, 255, 255);
    --main-background-color:#333;
    --secondary-background-color: rgba(255, 255, 255, 0.301);
    font-size:16px;
    
}
body {
        font-family:var(--main-font);
        font-weight:300;
        margin:0;
        padding:0;
        box-sizing: border-box;
        color:var(--main-color);
        background-color:var(--main-background-color);
}
a {
    text-decoration:none;
    color:var(--main-link-color);
    font-family: var(--secondary-font);
}

/* SOCIAL MEDIA ICONS */
.social-media{
    display:flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding:0 1%;
    grid-area: social-media;
    margin-bottom: 0%;
}
.social-media a {
    grid-area: icons;
    display:inline-block;
        padding:2%;
}

.social-media img{
    width:100%;
    max-width:30px;
}
/* SVG & SUBHEADING*/
.svg {
    grid-area: svg;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    max-width: 90%;
    margin-bottom: 0;
}
.svg img,
.svg a {
    width:100%;
}
.sub-heading {
    grid-area: sub-heading;
    max-width: 100%;
    text-align:center;
    font-size: 33px;
    font-family: var(--secondary-font);
    color: var(--seconday-color);
    margin-top: 0;
}