
/* at least one custome font 
1 additional color 
css grid as primary layout 
flexbox at secondary layout */



/* DEFAULT STYLES */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;500;900&display=swap');

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 5rem;
  margin: 1%;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: darksalmon;
  font-size: 2rem;
}

html{
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

img{
  border-radius: 30px;
  width: 100%
}

section {
  flex-direction: row;
  margin-left: 2%;
  margin-right: 2%;
}

/* grid layout*/

.container {
  display: grid;
  grid-gap: 10px;
}

.header { 
  grid-row: 1;
  grid-column: 1;
  background-color: darksalmon;
  color: white;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  padding: 60px;
  border-radius: 20px;
 }

 .header h2 {
   font-size: 4rem;
   margin: 1%;
   color: white;
 }

.profile-picture { 
  grid-row: 1;
  grid-column: 2;
  width: auto;
  align-self: center;
}

.nav-bar { 
  grid-row: 2;
  grid-column: 1/ span 2; 
  padding-top: 2%;
  padding-bottom: 2%;
}

.nav-bar a {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-right: .5%;
  background-color: darksalmon;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 10px;
}

.left-section { 
  grid-row: 3;
  grid-column:1;
  line-height: 1.6;
}

.right-section { 
  grid-row: 3;
  grid-column: 2;
  line-height: 200%;
 }

ul {
  list-style: none; 
}

ul li::before {
  content: "\2022"; 
  color: darksalmon; 
  font-weight: bold; 
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.footer { 
  grid-row: 4;
  grid-column: 1 / span 2;
  font-size: .75rem;
 }


 /* MEDIA QUERIES */

  @media (max-width: 1050px) {
    .header {
    grid-row: 1;
    grid-column: 1;
    padding: 50px;
    }

    .header h1 {
      font-size: 4rem;
    }

    .header h2{
      font-size: 3rem;
    }

    .profile-picture {
      grid-row: 2;
      grid-column: 1;
    }

    .nav-bar {
      grid-row: 3;
      grid-column: 1;
    }

    .left-section {
      grid-row: 4;
      grid-column: 1;
    }

    .right-section {
      grid-row: 5;
      grid-column: 1;
    }

    .footer {
      grid-row: 6;
      grid-column: 1;
    }
  }

  @media (max-width: 570px) {
    .header {
      padding: 30px;
      }
  
      .header h1 {
        font-size: 3rem;
      }
  
      .header h2{
        font-size: 2rem;
      }

      .nav-bar {
        display: flex;
        flex-direction: column;
      }

      .nav-bar a {
        margin: 1%;
      }
  }




