
/* MAIN PAGE STYLESHEET */

/* QUESTIONS
body element doestn fill page
*/

/* FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto+Mono:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

/* DEFUALT STYLES */
:root {
    --main-font:'Quicksand', sans-serif;
    --secondary-font:'Roboto Mono', monospace;
    --main-color:rgb(198, 224, 220);
    --seconday-color: rgb(255, 255, 255);
    --main-link-color: rgb(255, 255, 255);
    --main-background-color:#333;
    --secondary-background-color: rgba(255, 255, 255, 0.301);
    font-size:16px;
    
}

html{
    overflow-x: hidden;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
        font-family:var(--main-font);
        font-weight:300;
        margin:0;
        padding:0;
        box-sizing: border-box;
        color:var(--main-color);
        background-color:var(--main-background-color);
}
a {
    text-decoration:none;
    color:var(--main-link-color);
    font-family: var(--secondary-font);
}

/* HEADER/CONTAINER */
.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.1fr 1.3fr 0.0001fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:'search-bar search-bar account'
                        'svg svg svg'
                        'sub-heading sub-heading sub-heading'
                        'social-media social-media social-media';
    padding: 0;
}

/* SOCIAL MEDIA ICONS */
.social-media{
    display:flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding:0 1%;
    grid-area: social-media;
    margin-bottom: 0%;
}
.social-media a {
    grid-area: icons;
    display:inline-block;
        padding:2%;
}

/* SIGN IN & CART ICON */
.account {
    grid-area: account;
    max-width: 100%;
    align-items: center;
    justify-content: flex-end;
    display: flexbox;
    padding:2%;
    margin-top: 0;
    font-size: 12px;
    margin-bottom: 0%;
}
.account a {
    white-space: nowrap;
    padding: 2%;  
}
.social-media img,
.account img {
    width:100%;
    max-width:30px;
}

/* SEARCH BAR AND ICON */
.search-icon { 
    width: 22px;
    height: 22px;
    align-items: center;
    justify-content: center;
    padding-top: 10px;

}
.search-bar {
    grid-area: search-bar;
    position: relative;
    height:2rem;
    display: block;
    padding:.125rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    width: 600px;
}

.search-box {
    width: 565px;

}

/* SVG & SUBHEADING*/
.svg {
    grid-area: svg;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0;
    max-width: 60%;
    margin-bottom: 0;
}
.svg img,
.svg a {
    width:100%;
}
.sub-heading {
    grid-area: sub-heading;
    max-width: 100%;
    text-align:center;
    font-size: 33px;
    font-family: var(--secondary-font);
    color: var(--seconday-color);
    margin-top: 0;
}

/* IMAGE GALLERY */

/* make gallery one row at largest  */
/* FLIP CARD */
.flip-card {
    background-color: transparent;
    width: 330px;
    height: 330px;
    perspective: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: rgb(0, 0, 0);
    color: var(--seconday-color);
    transform: rotateY(180deg);
  }

  .flip-card-back p{
      text-align: center;
      margin-top: 50%;
      margin-bottom: 50%;
  }

/* IMAGES */
/* change to body grid 
header, gallery, footer */

.gallery {
    display: grid;
    width: 100%;
    grid-gap: 1rem;
    grid-template-areas: 'image-1 image-2 image-3 image-4';
    grid-auto-flow: column;
}
                       
.gallery img {
    margin: auto; 
    position: relative;
    width:100%;
   
}

.image-1 {
    grid-area: image-1;
}

.image-2 {
    grid-area: image-2;
}

.image-3 {
    grid-area: image-3;
}

.image-4 {
    grid-area: image-4;
}



/* FOOTER */
.footer {
    padding-right: 2%;
}
.page-footer {
    padding-left: 2%;
}
.navigation-bar {
    text-align: center;
    grid-area: navigation-bar;
    margin-top: 4%;
    margin-bottom: 8%;
}
.navigation-bar a {
    margin: 3%;
    padding: 7px;
}
.navigation-bar:hover {
    transform:rotate(2deg);
    transition:all .75s ease;
}

.copy {
    grid-area: copy;
    text-align: center;
}

/* MEDIA QUERIES */

/* min width 800px */
@media (max-width:800px) {
    .sub-heading {
        font-size: 25px;
    }

    .social-media img,
    .account img {
    max-width:25px;
    }

    .search-box {
        width: 325px;
    }
}



/* min width 1200px */
@media (max-width:1200px) {
    .gallery {
        display: grid;
        width: 100%;
        grid-gap: 1rem;
        grid-template-areas: 'image-1 image-2'
                             'image-3 image-4';
        grid-auto-flow: column;
    }

    .flip-card {
        width: 350px;
        height: 350px;
    }

    .image-1,
    .image-3 {
        float:right;
        margin-right: 50px;
    }

    .image-2,
    .image-4 {
        float:left;
        margin-left: 50px;
    }

    .social-media {
        padding-bottom: 50px;
    }

    .search-box {
        width: 500px;
    }
}

/* min width 1400px */
@media (max-width:1400px) {
body {
    max-width:1600px;
}
}

/* min-width 900px */
@media (max-width:900px) {

    .flip-card {
        width: 300px;
        height: 300px;
    }

    .image-1,
    .image-3 {
        float:right;
        margin-right: 25px;
    }

    .image-2,
    .image-4 {
        float:left;
        margin-left: 25px;
    }

    .search-box {
        width: 400px;
    }

    .search-icon { 
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 400px){
    .gallery {
        display: grid;
        width: 100%;
        grid-gap: 1rem;
        grid-template-areas: 'image-1' 
                             'image-2'
                             'image-3'
                             'image-4';
        grid-auto-flow: column;
    }

    .flip-card {
        width: 300px;
        height: 300px;
    }

    .image-1,
    .image-3 {
        float:none;
        margin: auto;
    }

    .image-2,
    .image-4 {
        float:none;
        margin: auto;
    }
}

@media (max-width: 376px) {
    /* 
    shorten search bar to approx. 315px
    account in the other 50px
    make svg bigger 
    subheading font size smaller
    icons smaller
    nav bar into two rows & smaller font 
    */
    html{
        overflow-x: hidden;
    }

    .search-box {
        width: 280px;
    }

    .search-icon { 
        width: 15px;
        height: 15px;
    }

    .social-media img,
    .account img {
        max-width:20px;
    }

    .sub-heading {
        font-size: 15px;
    }

    .svg {
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 3%;
        margin-bottom: 0;
        max-width: 95%;
    }
    .svg img,
    .svg a {
        width:100%;
    }

   .navigation-bar {
       max-width: 300px;
   }
}