
/* TRANSITIONS STYLESHEET */


@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root {
    --main-font: font-family: 'Quicksand', sans-serif;
    --secondary-font: font-family: 'Comfortaa', cursive;
    --main-color:rgb(255, 255, 255);
    --main-link-color: rgb(255, 255, 255);
    --main-background-color:#333;
    --secondary-background-color: rgba(255, 255, 255, 0.301);
    font-size:16px;
    
}

body {
        font-family:var(--main-font);
        font-weight:300;
        margin:0;
        padding:0;
        box-sizing: border-box;
        color:var(--main-color);
        background-color:var(--main-background-color);
}

a {
    text-decoration:none;
    color:var(--main-link-color);
    font-family: var(--secondary-font);
}

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.1fr 1.3fr 0.0001fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:'social-media account'
                        'svg svg'
                        'sub-heading sub-heading';
    padding:1%;
}

.social-media{
    display:flex;
    max-width: 100%;
    align-items: center;
    padding:0 1%;
    grid-area: social-media;
    margin-bottom: 0%;
}

.social-media a {
    grid-area: icons;
    display:inline-block;
        padding:2%;
    
}

.account {
    grid-area: account;
    display:flex;
    max-width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding:2%;
    font-size: 25px;
    margin-bottom: 0%;
}

.account a {
    padding: 2%;  
}

.social-media img,
.account img {
    width:100%;
    max-width:30px;
}

.svg {
    grid-area: svg;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    max-width: 90%;
}

.svg img,
.svg a {
    width:100%;
}

.sub-heading {
    grid-area: sub-heading;
    max-width: 100%;
    text-align:center;
    font-size: 32px;
    font-family: var(--secondary-font);
    background-color: rgba(255, 255, 255, 0.082);
}

.gallery {
    display: grid;
    width: 100%;
    margin: 0;
    grid-gap: 2rem;
    grid-template-columns: auto auto;
}

.gallery img {
    margin: auto; 
    position: relative;
    width:100%;
   
}

.gallery img:hover {
    clip-path:inset(9%);
    transition: clip-path 1s;
}

.gallery > figure > img {
    clip-path: circle(50%);
}

.footer {
    padding-right: 2%;
}

.page-footer {
    padding-left: 2%;
}

.nav {
    text-align: center;
}

.nav a {
    margin: 3%;
}

.nav:hover {
        transform:rotate(2deg);
        transition:all .75s ease;
}

